@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/* Generic Styles */
*{
    padding:0;
    margin:0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
.container-fluid{
  margin-top:20px;
}
.form-control,
.input-group-addon,
.btn-default{
  border-radius: 0;
}

.form-control{
  -webkit-box-shadow: none; 
  box-shadow: none; 
}
.input-group-addon{
  font-weight: 300;
  color:#fff;
  background-color: #09c;
  border: none;
}

.nh-info-box{
  margin-top:10px;
  font-size:18px;
  font-weight:300;
  width:460px;
  /* height: 100px; */
  background: #f4f4f4;
}

.nh-info-box h1{
  font-size:28px;
  margin-top:10px;
  font-weight:300;
}

.nh-info-box .nj-formatted-address{
  padding: 10px;
  width:55%;
  float:left;
}
.nh-info-box .current-temp-box{
  padding:10px;
  float:left;
  width:45%;
  height:100%;
  background:#fff;
}
.nh-info-box .current-temp-box .left{
  width:110px;
  float:left;
}
.nh-info-box .current-temp-box .left .current-temp{
  float:left;
  font-size:40px;
}
.nh-info-box .current-temp-box .left .right-now{
  font-size:14px;
}
.nh-info-box .current-temp-box .right .right-now-icon{
  float:right;
  font-size:18px;
}
.fixed-container{
  position:absolute;
  z-index:100;
  top:20px;
}
.forecast-listing-box,
.venues-listing-box{
  overflow:auto;
  margin-top:10px;
  width:460px;
  height: 300px;
  background: #fff;
}
.forecast-listing-box .forecast-listing-item,
.venues-listing-box .venue-listing-item{
  margin: 10px;
  border-bottom: 1px solid #f4f4f4;
}
.forecast-listing-box::-webkit-scrollbar,
.venues-listing-box::-webkit-scrollbar {
  width: 10px;
  overflow: visible;
}
.forecast-listing-box::-webkit-scrollbar-thumb,
.venues-listing-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  min-height: 28px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.forecast-listing-box::-webkit-scrollbar-thumb:hover,
.venues-listing-box::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.forecast-listing-box{

}
.forecast-listing-box .forecast-listing-item{
  clear:both;
  /* height:90px; */
}

.forecast-listing-item .left{
  float:left;
}

.forecast-listing-item .right{
  float:right;
  padding:10px;
  width:200px;
}

.forecast-listing-item .middle{
  float:left;
}

.forecast-listing-item .left .day-name{
  padding:15px 0 15px 15px;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.forecast-listing-item .middle .day-icon{
  padding:10px;
}

.forecast-listing-item .right .day-temp-range{
  font-size:24px;
  font-weight:400;
}

.forecast-listing-item .right .day-info{
  
}

.venue-listing-item{
  padding-bottom: 10px;
}

.venue-listing-item .glyphicon{
  padding-right: 5px;
  float:left;
  clear:left;
}

.venue-listing-item .content{
  float:left;
  width:280px;
}

.venue-listing-item .left{
  width:70%;
  float:left;
}

.venue-listing-item .left .venue-name{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
}

.venue-listing-item .left .venue-sub{
  margin-bottom:10px;
}

.venue-listing-item .left .venue-sub .venue-rating{
  float:left;
  
  clear:right;
}
.venue-listing-item .left .venue-sub .venue-rating .badge{
  font-size: 30px;
  font-weight:300;
}

.venue-listing-item .left .venue-sub .venue-address{
  width:230px;
  padding-left:10px;
  float:left;
  font-size: 12px;
}

.venue-listing-item .left .venue-website{
  font-size: 14px;
}

.venue-listing-item .left .venue-review{
  font-size: 14px;
}

.venue-listing-item .right{
  width:30%;
  float:left;
}

.venue-listing-item .right .featured-photo{
  padding: 10px;
  float:right;
}

.badge{
  background-color: #5cb85c;
}
/* http://stackoverflow.com/questions/4009931/css-div-height-problem-on-float-set */
.group:after {
  content: "";
  display: table;
  clear: both;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


