@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/* Generic Styles */
*{
    padding:0;
    margin:0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
.container-fluid{
  margin-top:20px;
}
.form-control,
.input-group-addon,
.btn-default{
  border-radius: 0;
}

.form-control{
  width:170px;
  -webkit-box-shadow: none; 
  box-shadow: none; 
}
.input-group-addon{
  font-weight: 300;
  color:#fff;
  background-color: #333;
  border: none;
}

.nh-info-box{
  margin-top:5px;
  font-size:18px;
  font-weight:300;
  width:460px;
  background: #5cb85c;
}

.nh-info-box h1{
  font-size:28px;
  margin-top:10px;
  font-weight:300;
  
}

.nh-info-box .nh-formatted-address{
  position:relative;
  padding: 10px;
  width:55%;
  float:left;
  color:#fff;
}

.nh-formatted-address .venues-box-showhide,
.current-temp-box .current-temp-showhide{
  position:absolute;
  top: 5px;
  right: 5px;
  z-index: 200;
}

.nh-formatted-address .venues-box-showhide{
  color:#333;
}

.nh-info-box .current-temp-box{
  position:relative;
  padding:10px;
  float:left;
  width:45%;
  height:100%;
  background:#fff;
}
.nh-info-box .current-temp-box .left{
  width:110px;
  float:left;
}
.nh-info-box .current-temp-box .left .current-temp{
  float:left;
  font-size:40px;
}
.nh-info-box .current-temp-box .left .right-now{
  font-size:14px;
}
.nh-info-box .current-temp-box .right .right-now-icon{
  float:right;
  font-size:18px;
  padding: 10px 10px 0 0;
}
.fixed-container{
  width:520px;
  position:absolute;
  z-index:100;
  top:5px;
  padding:0 5px;
}
.forecast-listing-box,
.venues-listing-box{
  overflow-x: hidden;
  display:block;
  overflow:auto;
  margin-top:5px;
  width:460px;
  height: 300px;
  background: #fff;
}
.forecast-listing-box .forecast-listing-item,
.venues-listing-box .venue-listing-item{
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
}
.forecast-listing-box::-webkit-scrollbar,
.venues-listing-box::-webkit-scrollbar {
  width: 10px;
  overflow: visible;
}
.forecast-listing-box::-webkit-scrollbar-thumb,
.venues-listing-box::-webkit-scrollbar-thumb {
  background-color: #5cb85c;
  min-height: 30px;
}
.forecast-listing-box::-webkit-scrollbar-thumb:hover,
.venues-listing-box::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.forecast-listing-box{

}
.forecast-listing-box .forecast-listing-item{
  clear:both;
  /* height:90px; */
}

.forecast-listing-item .left{
  float:left;
}

.forecast-listing-item .right{
  float:right;
  padding:10px;
  width:250px;
}

.forecast-listing-item .middle{
  float:left;
}

.forecast-listing-item .left .day-name{
  padding:15px 0 15px 15px;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.forecast-listing-item .middle .day-icon{
  padding:10px;
}

.forecast-listing-item .right .day-temp-range{
  font-size:24px;
  font-weight:400;
}

.forecast-listing-item .right .day-info{
  
}

.venue-listing-item{
  padding-bottom: 10px;
}

.venue-listing-item:visited,
.venue-listing-item:hover,
.venue-listing-item:active{
  background:#fafafa;
}

.venues-listing-box .selected-venue-item{
  background:#fafafa;
}

.venue-listing-item .glyphicon{
  padding-right: 5px;
  float:left;
  clear:left;
}

.venue-listing-item .content{
  word-wrap: break-word;
  float:left;
  width:280px;
}

.venue-listing-item .left{
  width:70%;
  float:left;
}

.venue-listing-item .left .venue-name{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
}

.venue-listing-item .left .venue-sub{
  margin-bottom:10px;
}

.venue-listing-item .left .venue-sub .venue-rating{
  float:left;
  
  clear:right;
}
.venue-listing-item .left .venue-sub .venue-rating .badge{
  font-size: 30px;
  font-weight:300;
}

.venue-listing-item .left .venue-sub .venue-address{
  width:230px;
  padding-left:10px;
  float:left;
  font-size: 12px;
}

.venue-listing-item .left .venue-category,
.venue-listing-item .left .venue-website,
.venue-listing-item .left .venue-review,
.venue-listing-item .left .venue-contact{
  font-size: 14px;
}

.venue-listing-item .right{
  width:30%;
  float:left;
}

.venue-listing-item .right .featured-photo{
  padding: 10px;
  float:right;
}

.badge{
  background-color: #5cb85c;
}

.venue-infowindow{
  max-width: 200px;
}

.venue-infowindow .venue-name{
  font-size:16px;
  font-weight: 400;
}

.venue-infowindow .venue-rating{
  margin-left:5px;
}

.venue-infowindow .glyphicon{
  margin-right:5px;
}

/* http://stackoverflow.com/questions/4009931/css-div-height-problem-on-float-set */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Custom, iPhone Retina 
@media only screen and (min-width : 320px) {

}
*/ 

/* Extra Small Devices, Phones 
@media only screen and (min-width : 480px) {

}
*/ 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .fixed-container{
    width:100%;
  }

  .search-button{
    display:none;
  }

  .form-group{
    margin-bottom:5px;
  }

  .nh-info-box{
    width:300px;
    font-size:14px;
    position:fixed;
    bottom:0;
  }

  .nh-info-box .current-temp-box .left .right-now{
    display:none;
  }

  .nh-info-box .current-temp-box .right .right-now-icon{
    display:none;
  }

  .nh-info-box .current-temp-box .left .current-temp{
    font-size:20px;
  }

  .forecast-listing-box, .venues-listing-box{
    width:100%;
  }

  .venue-listing-item .left .venue-sub .venue-address{
    width:70%;
  }

  .venue-listing-item .content{
    word-wrap: break-word;
    width:90%;
  }

  .forecast-listing-item .right{
    width:50%;
  }

}

@media only screen and (max-width : 320px) {
  .fixed-container{
    width:100%;
  }
  .venues-listing-box{
    max-width: 310px;
  }
  
  .venue-listing-item .left{
    width:60%;
  }
  .venue-listing-item .right{
    width:40%;
  }
  .forecast-listing-item .middle .day-icon{
    display:none;
  }
  .venue-listing-item .left .venue-sub .venue-address{
    width:60%;
  }

  .venue-listing-item .content{
    word-wrap: break-word;
    width:80%;
  }

}



/* Medium Devices, Desktops 
@media only screen and (min-width : 992px) {
  
}
*/ 
/* Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {

}
*/ 

