@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
/* Generic Styles */
*{
    padding:0;
    margin:0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
.container-fluid{
  margin-top:20px;
}
.form-control,
.input-group-addon,
.btn-default{
  border-radius: 0;
}

.form-control{
  -webkit-box-shadow: none; 
  box-shadow: none; 
}
.input-group-addon{
  font-weight: 300;
  color:#fff;
  background-color: #09c;
  border: none;
}

.nh-info-box{
  margin-top:10px;
  font-size:18px;
  font-weight:300;
  width:460px;
  height: 80px;
  background: #f4f4f4;
}

.nh-info-box h1{
  font-size:28px;
  margin-top:10px;
  font-weight:300;
}

.nh-info-box .nj-formatted-address{
  padding: 10px;
  width:70%;
  float:left;
}
.nh-info-box .direction-box{
  float:left;
  width:30%;
  height:100%;
  background:#FF5A5E;
}
.fixed-container{
  position:absolute;
  z-index:100;
  top:20px;
}
.venues-listing-box{
  overflow:auto;
  margin-top:10px;
  width:460px;
  height: 300px;
  background: #f4f4f4;
}
.venues-listing-box .venue-listing-item{
  padding:10px;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


